* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/background.png);
  background-size: cover;
  z-index: 0;
  overflow: hidden;
}
.top {
  top: 8%;
  left: 2%;
  position: absolute;
  width: 80%;
  height: auto;
  margin: auto;
  margin-left: 122px;

  display: flex;
  justify-content: space-between;
  text-decoration: none;
  text-align: center;
}
/* button { 
  height: 23px;
  background-color: transparent;
  boder: 2px solid white;
  text-decoration: none;*/

.menu {
  width: 5%;
  height: 100vh;
  position: absolute;
  right: 0px;
  /* background: linear-gradient(#f131 #f132); */
  background: linear-gradient(#61d3f0, #515ab8);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu img {
  width: 80%;
}
.content {
  position: absolute;
  top: 50%;
  left: 15%;
  color: wheat;
}
.content h1 {
  font-style: bold;
  font-weight: bolder;
  font-size: 5.2rem;
}
.bubble {
  width: 100%;
  position: absolute;
  bottom: -122px;
  display: flex;
  justify-content: space-around;
  
}
.bubble img{
  animation: bubble 7s linear infinite;

}
@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}
.bubble img:nth-child(1){
  animation-delay: 5s;
}
.bubble img:nth-child(2){
  animation-delay: 2s;
}
.bubble img:nth-child(3){
  animation-delay: 6s;
}
.bubble img:nth-child(4){
  animation-delay: 3s;
}
.bubble img:nth-child(5){
  animation-delay: 4s;
}
